.button{
    margin-top: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:  #023E8A;
    gap: 8px;
    width: 400px;
    height: 90px;
}
.button1 {
    width: 100%;
    height: 45px;
    border: none;
    outline: none;
    border-radius: 40px;
    background-color:  #023E8A;
     box-shadow: -15px -15px 15px rgba(255, 255, 255, 0.2),
                 15px 15px 15px rgba(0, 0,0, 0.1),
                inset -5px -5px 5px rgba(255, 255, 255, 0.2),
                inset 5px 5px 5px rgba(0, 0,0, 0.1);
    cursor: pointer;
    
}
.button1 a{
    color: #fff;
    font-size: 25px;
    font-weight: 600;
    text-decoration: none;
    border: none;
    
}

